<template>
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col">
                                <h5 class="text-danger">Настройки приложения</h5>
                            </div>

                            <div class="col text-right">
                            </div>
                        </div>
                    </div>

                    <div class="card-body">
                        <table class="table table-borderless table-hover table-sm">
                            <tbody>
                                <tr>
                                    <td style="width: 65%;">Количество отображаемых строк на одной странице в разделе "Пропуска"</td>
                                    <td>
                                        <select class="custom-select" v-model="settings.permitsAtPage">
                                            <option v-for="(item,index) in items" v-bind:key="index" v-bind:value="item">{{ item }}</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr>
                                    <td>Должность сотрудника, выдающего пропуска</td>
                                    <td>
                                        <input type="text" class="form-control" v-model="settings.position" placeholder="Введите должность" id="position">
                                    </td>
                                </tr>

                                <tr>
                                    <td>ФИО сотрудника, выдающего пропуска</td>
                                    <td>
                                        <input type="text" class="form-control" v-model="settings.name" placeholder="Введите ФИО" id="name">
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                    </div>

                    <div class="card-footer">
                        <div class="row">
                            <div class="col text-center">
                                <button type="button" class="btn btn-outline-secondary" v-on:click="saveSettings" title="Применить выбранные настройки">
                                    <font-awesome-icon icon="check" fixed-width /> Сохранить
                                </button>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</template>

<script>
export default {
    data: function () {
        return {
            settings : {
                logsAtPage: 30,
                permitsAtPage: 30,
                includeExpiredPermits: 1,
                position: '',
                name: ''
            }
        }
    },

    methods: {
        saveSettings: function () {
            this.$store.state.registration.rowsRoDisplay = this.settings.logsAtPage;
            this.$store.state.permits.rowsRoDisplay = this.settings.permitsAtPage;

            axios.post('/settings/setups', {
                'settings': this.settings
            }).then(response => {
                this.$toasted.show(response.data.message);

            }).catch(function (error) {
                console.log(error);
            });
        }
    },

    computed: {
        items: function () {
            let items = [];

            for (let i = 100; i > 0; i-- ) {
                items.unshift(i);
            }

            return items;
        }
    },

    created: function () {
        axios.get('settings/setups').then(response => {
            if (Object.keys(response.data).length != 0) {
                this.settings = response.data;
            }
        });
    }
}
</script>