<template>
    <div class="col px-1" v-bind:class="{ open: open }" style="position: relative">
        <div class="input-group" v-bind:ref="'model' == field ? 'marka' : ''">
            <input type="text" class="form-control" autocomplete="off"
                v-bind:aria-label="field"
                v-bind:aria-describedby="field"
                v-bind:ref="field"
                v-model="currentText"
                v-on:input="getSuggestions"
                v-on:focus="focused"
                v-on:keydown.down="down"
                v-on:keydown.up="up"
                v-on:keydown.enter="suggestionSelected(currentSuggestions[highlightIndex], highlightIndex)"
                v-on:keydown.esc="setOpen(false)"
                v-on:blur="setOpen(false)"
                v-on:click="setOpen(true)"
                v-bind:name="field"
                v-bind:placeholder="placeholder"
                v-bind:title="placeholder"
                v-bind:autofocus="'model' == field ? true : false"
            />
                <!-- v-bind:ref="field"  -->
            <div class="input-group-append">
                <span class="clear-input-field input-group-text" v-on:click="clearField(field)">
                    <font-awesome-icon icon="xmark" fixed-width />
                </span>
            </div>
        </div>

        <ul class="suggestion-list" v-bind:id="field + '_list'">
            <li
                v-for="(suggestion, index) in currentSuggestions"
                v-on:click="suggestionSelected(suggestion, index)"
                v-on:mousedown.prevent
                v-bind:class="{ highlighted : index === highlightIndex }"
                v-bind:id="field + index"
                v-bind:key="index"
            >
                {{ suggestion }}
            </li>
        </ul>
    </div>
</template>

<script>
import { bus } from "../../app";

export default {
    props: {
        field: {
            type: String,
            required: true
        },

        placeholder: {
            type: String
        }
    },

    data: function () {
        return {
            open: false,
            highlightIndex: 0
        }
    },

    methods: {
        getSuggestions: function () {
            if (/\S+/.test(this.currentText)) {
                axios.post('/permits/field/autocomplete', {
                    params: {
                        field: this.field,
                        value: this.currentText
                    }

                }).then(response => {
                    this.$store.commit('updatePermitSuggestions', { field: this.field, value: response.data });
                    this.$store.state.permits.permitSuggestions[this.field].length ? this.open = true : this.open = false;
                    this.highlightIndex = 0;
                }).catch(function (error) {
                    console.log(error);
                });
            } else {
                this.$store.commit('clearPermitSuggestions');
                this.open = false;
                // this.currentText = '';
                this.highlightIndex = 0;
            }
        },

        suggestionSelected: function (suggestion, index) {
            this.open = false;
            this.currentText = suggestion;
            this.highlightIndex = index;
        },

        focused: function () {
            this.$store.state.permits.permitSuggestions[this.field].length ? this.open = true : this.open = false;
        },

        setOpen: function (isOpen) {
            if (this.$store.state.permits.permitSuggestions[this.field].length) {
                this.open = isOpen;
            }

            this.scrollToSelectedElement(this.field + this.highlightIndex);
        },

        up: function () {
            if (this.open) {
                if (this.highlightIndex > 0) {
                    this.highlightIndex--;
                }
            } else {
                this.open = true;
            }

            this.scrollToSelectedElement(this.field + this.highlightIndex);
        },

        down: function () {
            if (this.open) {
                if (this.highlightIndex < this.$store.state.permits.permitSuggestions[this.field].length - 1) {
                    this.highlightIndex++;
                }
            } else {
                this.open = true;
            }

            this.scrollToSelectedElement(this.field + this.highlightIndex);
        },

        clearField: function (field) {
            this.$store.state.permits.permitData[this.field] = '';
            this.$store.state.permits.permitSuggestions[this.field] = [];
        },

        scrollToSelectedElement(elementId) {
            var element = document.getElementById(elementId);

            if (element) {
                element.scrollIntoView(false);
            }
        },

        setFocus: function() {
            // console.log(this.field);

            if ('model' == this.field) {
                console.log(this.$refs.marka.children[0]);
                this.$refs.marka.children[0].focus();
            }
        },
    },

    computed: {
        currentText: {
            get () { return this.$store.state.permits.permitData[this.field]; },
            set (value) { this.$store.commit('updatePermitData', { field: this.field, value: value }); }
        },

        currentSuggestions: function () {
            return this.$store.state.permits.permitSuggestions[this.field];
        }
    },

    // created: function () {
    //     bus.$on('setFocusToModel', () => {
    //         // this.setFocus();
    //         if ('model' == this.field) {
    //             // this.$refs.model.focus();
    //         }
    //     });
    // }
}
</script>
