<template>
    <div class="container" id="filters">


        <div class="row" style="padding-top: 0.6rem;">
            <div class="col">
                <div class="input-group">
                    <h5 class="header" style="padding-right: 10px;">Фильтры:</h5>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="yes" v-model="kpp1" id="kpp1">
                        <label class="custom-control-label" for="kpp1">КПП1</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="yes" v-model="kpp2" id="kpp2">
                        <label class="custom-control-label" for="kpp2">КПП2</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="valid" v-model="categories" id="valid">
                        <label class="custom-control-label" for="valid">Действующие</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="expired" v-model="categories" id="expired">
                        <label class="custom-control-label" for="expired">Истекшие</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="yes" v-model="transfers" id="transferred">
                        <label class="custom-control-label" for="transferred">Переданные</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="no" v-model="transfers" id="awaiting">
                        <label class="custom-control-label" for="awaiting">Не переданные</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="yes" v-model="weapon" id="weapon">
                        <label class="custom-control-label" for="weapon">С оружием</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="yes" v-model="privileged" id="privileged">
                        <label class="custom-control-label" for="privileged">Без досмотра</label>
                    </div>
                </div>
            </div>
        </div>



        <div class="row" style="padding-top: 0.6rem;">
            <div class="col-3">
                <div class="form-group">
                    <label for="number">Номер пропуска:</label>
                    <autocomplete v-bind:field="'number'" v-bind:placeholder="'Номер пропуска'"></autocomplete>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="model">Марка авто:</label>
                    <autocomplete v-bind:field="'model'" v-bind:placeholder="'Марка и модель авто'"></autocomplete>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="plate">Гос. номер:</label>
                    <autocomplete v-bind:field="'plate'" v-bind:placeholder="'Гос. номер авто'"></autocomplete>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="owner">Передано (ФИО):</label>
                    <autocomplete v-bind:field="'person'" v-bind:placeholder="'Передано (ФИО)'"></autocomplete>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-3">
                <div class="form-group">
                    <label for="owner">Кому выдан (Владелец авто):</label>
                    <autocomplete v-bind:field="'owner'" v-bind:placeholder="'Кому выдан'"></autocomplete>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="owner">Заказчик:</label>
                    <autocomplete v-bind:field="'customer'" v-bind:placeholder="'Заказчик'"></autocomplete>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="start">Дата выдачи:</label>
                    <div class="input-group">
                        <flat-pickr class="form-control" aria-label="dateStart" aria-describedby="dateStart" v-model="start" v-bind:config="config"></flat-pickr>

                        <div class="input-group-append">
                            <span class="input-group-text" id="dateStart">
                                <font-awesome-icon icon="calendar-days" fixed-width />
                            </span>
                        </div>

                        <div class="input-group-append">
                            <span class="clear-input-field input-group-text" v-on:click="clearField('start')" id="start">
                                <font-awesome-icon icon="xmark" fixed-width />
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <label for="end">Действителен по:</label>
                    <div class="input-group">
                        <flat-pickr class="form-control" aria-label="dateEnd" aria-describedby="dateEnd" v-model="end" v-bind:config="config"></flat-pickr>

                        <div class="input-group-append">
                            <span class="input-group-text" id="dateEnd">
                                <font-awesome-icon icon="calendar-days" fixed-width />
                            </span>
                        </div>

                        <div class="input-group-append">
                            <span class="clear-input-field input-group-text" v-on:click="clearField('end')" id="end">
                                <font-awesome-icon icon="xmark" fixed-width />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="dropdown-divider"></div>

        <div class="row" style="padding: 0.3em 0;">
            <div class="col text-right">
                <button type="button" class="btn btn-outline-secondary" v-on:click="applyFilters()" data-dismiss="modal" title="Применить выбранные фильтры">
                    <font-awesome-icon icon="check" fixed-width /> Применить
                </button>

                <button type="button" class="btn btn-outline-warning" v-on:click="clearFilters()" title="Очистить все фильтры">
                    <font-awesome-icon icon="rotate-right" v-bind:rotation="180" fixed-width /> Сбросить
                </button>

                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" v-on:click="hideFilters()" title="Сбросить фильтры к ранее сохраненным настройкам и закрыть форму">
                    <font-awesome-icon icon="xmark" fixed-width /> Отменить
                </button>
            </div>
        </div>


    </div>
</template>

<script>
import moment from 'moment';
import Autocomplete from './Autocomplete';
import flatPickr from 'vue-flatpickr-component';
import { Russian } from "flatpickr/dist/l10n/ru.js";
import 'flatpickr/dist/flatpickr.css';

export default {
    components: {
        'autocomplete': Autocomplete,
        'flat-pickr': flatPickr
    },

    data: function () {
        return {
            config: {
                dateFormat: "d.m.Y",
                altFormat: "d.m.Y",
                altInput: true,
                // allowInput: true,
                // inline: true,
                "locale": Russian
            }
        }
    },

    methods: {
        clearField: function (field) {
            this.$store.state.permits.permitData[field] = '';
            this.$store.state.permits.permitSuggestions[field] = [];
        },

        applyFilters: function () {
            this.$store.commit('setPermitFilteringPath', '/filtering/permits');
            this.$store.commit('setPermitsPage', { page: 1 });
            this.$store.commit('populatePermits');
        },

        clearFilters: function () {
            this.categories = [];
            this.transfers = [];
            this.emitters = [];

            this.$store.commit('clearPermitData');
        },

        hideFilters: function () {
            this.$emit('hideFilters');
        }

    },

    computed: {
        categories: {
            get () { return this.$store.state.permits.categories; },
            set (value) { this.$store.commit('setCategories', value); }
        },

        transfers: {
            get () { return this.$store.state.permits.transfers; },
            set (value) { this.$store.commit('setTransfers', value); }
        },

        emitters: {
            get () { return this.$store.state.permits.emitters; },
            set (value) { this.$store.commit('setPermitEmitters', value); }
        },

        start: {
            get () { return this.$store.state.permits.permitData.start; },
            set (value) { this.$store.commit('updatePermitData', { field: 'start', value: value }); }
        },

        end: {
            get () { return this.$store.state.permits.permitData.end; },
            set (value) { this.$store.commit('updatePermitData', { field: 'end', value: value }); }
        },

        weapon: {
            get () { return this.$store.state.permits.permitData.weapon; },
            set (value) { this.$store.commit('updatePermitData', { field: 'weapon', value: value }); }
        },

        privileged: {
            get () { return this.$store.state.permits.permitData.privileged; },
            set (value) { this.$store.commit('updatePermitData', { field: 'privileged', value: value }); }
        },

        kpp1: {
            get () { return this.$store.state.permits.permitData.kpp1; },
            set (value) { this.$store.commit('updatePermitData', { field: 'kpp1', value: value }); }
        },

        kpp2: {
            get () { return this.$store.state.permits.permitData.kpp2; },
            set (value) { this.$store.commit('updatePermitData', { field: 'kpp2', value: value }); }
        },
    },

    created: function () {
        axios.get('/settings/permits')
            .then(response => {
                this.categories = response.data.categories.length ? response.data.categories : [];
                this.transfers = response.data.transfers.length ? response.data.transfers : [];
                this.emitters = response.data.emitters.length ? response.data.emitters : [];

                let start = '' != response.data.start ? moment(new Date(response.data.start)).format('DD.MM.YYYY') : '';
                let end = '' != response.data.end ? moment(new Date(response.data.end)).format('DD.MM.YYYY') : '';
                let weapon = response.data.weapon.length ? true : false;
                let privileged = response.data.privileged.length ? true : false;
                let kpp1 = response.data.kpp1.length ? true : false;
                let kpp2 = response.data.kpp2.length ? true : false;

                this.$store.commit('updatePermitData', { field: 'model', value: response.data.model });
                this.$store.commit('updatePermitData', { field: 'plate', value: response.data.plate });
                this.$store.commit('updatePermitData', { field: 'owner', value: response.data.owner });

                this.$store.commit('updatePermitData', { field: 'number', value: response.data.number });
                this.$store.commit('updatePermitData', { field: 'start', value: start });
                this.$store.commit('updatePermitData', { field: 'end', value: end });

                this.$store.commit('updatePermitData', { field: 'customer', value: response.data.customer });
                this.$store.commit('updatePermitData', { field: 'weapon', value: weapon });
                this.$store.commit('updatePermitData', { field: 'privileged', value: privileged });
                this.$store.commit('updatePermitData', { field: 'kpp1', value: kpp1 });
                this.$store.commit('updatePermitData', { field: 'kpp2', value: kpp2 });
                this.$store.commit('updatePermitData', { field: 'person', value: response.data.person });

                this.applyFilters();
            }).catch(error => {
                for(var item in error.response.data.errors) {
                    console.log(error.response.data.errors[item][0]);
                }
            });

    }
}
</script>
