<template>
    <div class="modal-dialog modal-xl" role="document">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">{{ this.$store.state.permits.permitHeader }}</h5>

                <fieldset class="kpp" v-bind:disabled="invalidateAction">
                    <div class="custom-control custom-checkbox custom-control-inline">
                        <span class="kpp__title"><font-awesome-icon icon="road-barrier" /> КПП:</span>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="yes" v-model="kpp1" id="kpp1">
                        <label class="custom-control-label" for="kpp1">Пургаз</label>
                    </div>

                    <div class="custom-control custom-checkbox custom-control-inline">
                        <input type="checkbox" class="custom-control-input" value="" v-model="kpp2" id="kpp2">
                        <label class="custom-control-label" for="kpp2">Лекс</label>
                    </div>
                </fieldset>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="hideForm()" title="Отмена">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <!-- <div class="row">
                    <div class="col-6">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="number">
                                            <font-awesome-icon icon="road-barrier" /> КПП Пургаз
                                        </label>
                                        <div class="input-group">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" value="yes" v-model="kpp1" id="kpp1">
                                                <label class="custom-control-label" for="kpp1">Да, есть</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="number">
                                            <font-awesome-icon icon="road-barrier" /> КПП Лекс
                                        </label>
                                        <div class="input-group">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" value="" v-model="kpp2" id="kpp2">
                                                <label class="custom-control-label" for="kpp2">Да</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div> -->

                <div class="row">
                    <div class="col-3">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="form-group">
                                <label for="number">
                                    <span title="Номер по порядку"><font-awesome-icon icon="rotate" fixed-width v-on:click="setLastNumber()" class="text-muted" style="cursor: pointer;" /></span>
                                    Номер пропуска
                                </label>
                                <autocomplete v-bind:field="'number'" v-bind:placeholder="'Номер пропуска'"></autocomplete>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-3">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="form-group">
                                <label for="model"><font-awesome-icon icon="car" /> Марка авто</label>
                                <autocomplete v-bind:field="'model'" v-bind:placeholder="'Марка и модель авто'"></autocomplete>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-3">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="form-group">
                                <label for="plate"><font-awesome-icon icon="ticket" /> Гос. номер</label>
                                <autocomplete v-bind:field="'plate'" v-bind:placeholder="'Гос. номер авто'"></autocomplete>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-3">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="row">
                                <div class="col weapon">
                                    <div class="form-group">
                                        <label for="number">
                                            <font-awesome-icon icon="gun" /> Оружие
                                        </label>
                                        <div class="input-group">
                                            <div class="custom-control custom-checkbox custom-control-inline">
                                                <input type="checkbox" class="custom-control-input" value="yes" v-model="weapon" id="weapon">
                                                <label class="custom-control-label" for="weapon">Да, есть</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col privileged">
                            <div class="form-group">
                                <label for="number">
                                    <font-awesome-icon icon="shield-halved" /> Без досмотра
                                </label>
                                <div class="input-group">
                                    <div class="custom-control custom-checkbox custom-control-inline">
                                        <input type="checkbox" class="custom-control-input" value="" v-model="privileged" id="privileged">
                                        <label class="custom-control-label" for="privileged">Да</label>
                                    </div>
                                </div>
                            </div>
                                </div>
                            </div>


                        </fieldset>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="form-group">
                                <label for="owner">Кому выдан (Владелец авто)</label>
                                <autocomplete v-bind:field="'owner'" v-bind:placeholder="'Кому выдан'"></autocomplete>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-3">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="form-group">
                                <label for="customer">Заказчик</label>
                                <autocomplete v-bind:field="'customer'" v-bind:placeholder="'Заказчик'"></autocomplete>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-3">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="form-group">
                                <label for="start">Дата выдачи</label>
                                <div class="input-group">
                                    <flat-pickr class="form-control" aria-label="dateStart" aria-describedby="dateStart" v-model="start" v-bind:config="config"></flat-pickr>

                                    <div class="input-group-append">
                                        <span class="input-group-text" id="dateStart">
                                            <font-awesome-icon icon="calendar-days" fixed-width />
                                        </span>
                                    </div>

                                    <div class="input-group-append">
                                        <span class="clear-input-field input-group-text" v-on:click="clearField('start')" id="start">
                                            <font-awesome-icon icon="xmark" fixed-width />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>

                    <div class="col-3">
                        <fieldset v-bind:disabled="invalidateAction">
                            <div class="form-group">
                                <label for="end">Действителен по</label>
                                <div class="input-group">
                                    <flat-pickr class="form-control" aria-label="dateEnd" aria-describedby="dateEnd" v-model="end" v-bind:config="config"></flat-pickr>

                                    <div class="input-group-append">
                                        <span class="input-group-text" id="dateEnd">
                                            <font-awesome-icon icon="calendar-days" fixed-width />
                                        </span>
                                    </div>

                                    <div class="input-group-append">
                                        <span class="clear-input-field input-group-text" v-on:click="clearField('end')" id="end">
                                            <font-awesome-icon icon="xmark" fixed-width />
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>

                <div class="row" v-show="permitError">
                    <div class="col">
                        <div class="alert alert-danger" role="alert">
                            <span v-html="permitMessage"></span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div v-if="!invalidateAction">
                    <button type="button" class="btn btn-outline-secondary"
                        v-for="(emitter, index) in actualEmitters"
                        v-bind:class="[ highlightEmitter(emitter.emitter) ? 'btn-outline-success' : 'btn-outline-secondary' ]"
                        v-on:click.prevent="storeNewPermit(emitter.emitter)"
                        v-bind:title="emitter.emitter"
                        v-bind:key="index"
                    >
                        <font-awesome-icon icon="floppy-disk" fixed-width /> Сохранить
                    </button>
                </div>

                <button type="button" class="btn btn-outline-danger" title="Аннулировать пропуск (сделать недействительным)"
                    v-if="invalidateAction"
                    v-on:click.prevent="invalidatePermit()"
                >
                    <font-awesome-icon icon="trash-can" fixed-width /> Аннулировать
                </button>

                <button type="button" class="btn btn-outline-danger" data-dismiss="modal" v-on:click="hideForm()">
                    <font-awesome-icon icon="xmark" fixed-width /> Отмена
                </button>
            </div>
        </div>

    </div>
</template>

<script>
import moment from 'moment';
import Autocomplete from './Autocomplete';
import flatPickr from 'vue-flatpickr-component';
import { bus } from "../../app";
import { Russian } from "flatpickr/dist/l10n/ru.js";
import 'flatpickr/dist/flatpickr.css';

export default {
    components: {
        'autocomplete': Autocomplete,
        'flat-pickr': flatPickr
    },

    props: {
        invalidateAction: {
            type: Boolean,
            required: true
        }
    },

    data: function () {
        return {
            permitMessage: '',
            permitError: false,

            config: {
                dateFormat: "d.m.Y",
                altFormat: "d.m.Y",
                altInput: true,
                // allowInput: true,
                // inline: true,
                "locale": Russian
            }
        }
    },

    methods: {
        storeNewPermit: function (emitter) {
            this.permitError = false;
            this.permitMessage = '';
            this.$store.state.permits.permitData.emitter = emitter;

            axios.post(this.$store.state.permits.permitActionPath, {
                id:         this.$store.state.permits.permitData.id,
                number:     this.$store.state.permits.permitData.number,
                customer:   this.$store.state.permits.permitData.customer,
                weapon:     this.$store.state.permits.permitData.weapon,
                kpp1:     this.$store.state.permits.permitData.kpp1,
                kpp2:     this.$store.state.permits.permitData.kpp2,
                privileged:     this.$store.state.permits.permitData.privileged,
                owner:      this.$store.state.permits.permitData.owner,
                model:      this.$store.state.permits.permitData.model,
                plate:      this.$store.state.permits.permitData.plate,
                start:      this.$store.state.permits.permitData.start,
                end:        this.$store.state.permits.permitData.end,
                emitter:    this.$store.state.permits.permitData.emitter,
            }).then(response => {
                // display an error message if the new permit was not stored on the server
                if (true == response.data.error) {
                    this.permitError = true;
                    this.permitMessage = response.data.message;
                } else {
                    this.$emit('updatePermitsSummary');
                    this.$emit('updateRelevantPermits', this.$store.state.permits.permitData.id);
                    this.$store.commit('setLastPermitNumber');

                    this.permitError = false;
                    this.permitMessage = '';
                    this.$emit('highlightPermit', this.$store.state.permits.permitData.id);

                    // this.hideForm();

                    if ('/permit/update' == this.$store.state.permits.permitActionPath) {
                        this.$emit('hideForm');
                    }

                    this.$store.commit('clearPermitData');
                    this.$store.commit('clearPermitSuggestions');
                    this.$store.commit('populatePermits');
                    this.$store.commit('setStartAndEndDate');

                    $('#addPermitModal').modal('hide');

                    this.$toasted.show(response.data.message);


                    // bus.$emit('setFocusToModel');
                }
            }).catch(error => {
                this.permitError = true;
                // bus.$emit('setFocusToModel');

                // this.permitMessage = 'Упссс... Что-то пошло не так. Обратитесь к разработчику приложения.<br><br>';
                // this.permitMessage += '<strong>Ошибка:</strong> ' + error.message + '<br>';
                // this.permitMessage += '<strong>Файл:</strong> ' + error.response.data.file + '<br>';
                // this.permitMessage += '<strong>Строка:</strong> ' + error.response.data.line + '<br>';
                // this.permitMessage += '<strong>Сообщение:</strong> ' + error.response.data.message;

                for(var item in error.response.data.errors) {
                    this.permitMessage += error.response.data.errors[item][0] + '<br>';
                    // console.log(error.response.data.errors[item][0]);
                }
            });

        },

        highlightEmitter: function (currentEmitter) {
            if (currentEmitter == this.$store.state.permits.permitData.emitter) {
                return true;
            }

            return false;
        },

        hideForm: function () {
            this.$emit('hideForm');
            this.$emit('permitInvalidated');
            this.permitError = false;
            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        clearField: function (field) {
            this.$store.state.permits.permitData[field] = '';
            this.$store.state.permits.permitSuggestions[field] = [];
        },

        invalidatePermit: function () {
            axios.get(this.$store.state.permits.permitActionPath).then(response => {
                // display an error message if the new permit was not stored on the server
                if (true == response.data.error) {
                    this.permitError = true;
                    this.permitMessage = response.data.message;
                } else {
                    this.$emit('updatePermitsSummary');
                    this.$emit('permitInvalidated');

                    this.hideForm();

                    $('#addPermitModal').modal('hide');
                    this.$store.commit('populatePermits');
                    // this.$toasted.show(response.data.message);
                    this.$toasted.success(response.data.message);
                    // this.$toasted.error(response.data.message);
                    // this.$toasted.info(response.data.message);
                }
            }).catch(error => {
                this.permitError = true;
                this.permitMessage = '';

                for(var item in error.response.data.errors) {
                    this.permitMessage += error.response.data.errors[item][0] + '<br>';
                    console.log(error.response.data.errors[item][0]);
                }
            });
        },

        setLastNumber: function () {
            this.$store.commit('setLastPermitNumber');
        }
    },

    computed: {
        actualEmitters: function () {
            return this.$store.getters.actualEmitters;
        },

        start: {
            get () { return this.$store.state.permits.permitData.start; },
            set (value) { this.$store.commit('updatePermitData', { field: 'start', value: value }); }
        },

        end: {
            get () { return this.$store.state.permits.permitData.end; },
            set (value) { this.$store.commit('updatePermitData', { field: 'end', value: value }); }
        },

        weapon: {
            get () { return this.$store.state.permits.permitData.weapon; },
            set (value) { this.$store.commit('updatePermitData', { field: 'weapon', value: value }); }
        },

        privileged: {
            get () { return this.$store.state.permits.permitData.privileged; },
            set (value) { this.$store.commit('updatePermitData', { field: 'privileged', value: value }); }
        },

        kpp1: {
            get () { return this.$store.state.permits.permitData.kpp1; },
            set (value) { this.$store.commit('updatePermitData', { field: 'kpp1', value: value }); }
        },

        kpp2: {
            get () { return this.$store.state.permits.permitData.kpp2; },
            set (value) { this.$store.commit('updatePermitData', { field: 'kpp2', value: value }); }
        },
    },


    created: function () {
        this.$store.commit('setStartAndEndDate');
    }
}
</script>



<style scoped>
.kpp {
    margin-left: 60px;
    padding: 8px;
    /* border: 1px solid red; */
    border-radius: 3px;
    -webkit-box-shadow: 4px 4px 50px 0px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 4px 4px 50px 0px rgba(34, 60, 80, 0.2);
    box-shadow: 4px 4px 50px 0px rgba(34, 60, 80, 0.2);
}
.kpp__title {
    font-weight: 500;
}
.weapon {
    padding: 0;
}
.privileged {
    padding: 0;
}
</style>
