<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">

                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5 class="text-danger">Пропуска</h5>
                                </div>

                                <div class="col text-right">
                                    <button class="btn btn-outline-secondary btn-sm" v-on:click="toggleFilters()" title="Фильтры">
                                        <font-awesome-icon icon="sliders" fixed-width />
                                    </button>

                                    <button class="btn btn-outline-success btn-sm" v-on:click="toggleForm()" title="Добавить новый пропуск">
                                        <font-awesome-icon icon="plus" v-if="!displayForm" fixed-width />
                                        <font-awesome-icon icon="minus" v-if="displayForm" fixed-width />
                                    </button>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" v-if="displayFilters" style="padding: 0.2rem;">
                            <filters
                                v-on:hideFilters="displayFilters = false"
                                v-on:permitsFiltered="displayFilteredPermits($event)"></filters>
                        </div>

                        <div class="card-body" v-if="displayForm" style="padding: 0.2rem;">
                            <new-permit
                                v-on:hideForm="displayForm = false"
                                v-on:updatePermitsSummary="updatePermitsSummary()"
                                v-bind:invalidateAction="invalidateAction"></new-permit>
                        </div>

                        <!-- dublicate 'new-permit' form, but with hideable modal and only for editing purposes -->
                        <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="addPermitModal">
                            <new-permit
                                v-on:hideForm="displayForm = false"
                                v-on:updatePermitsSummary="updatePermitsSummary()"
                                v-on:highlightPermit="highlightPermit($event)"
                                v-on:permitInvalidated="invalidateAction = false"
                                v-bind:invalidateAction="invalidateAction"></new-permit>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row" style="margin: 0.8em 0 0 0; line-height: 2.4em;">
                <div class="col-10">
                    <span>
                        Всего пропусков в базе: <strong>{{ summary.total }}</strong>
                    </span>
                    <span style="margin-left: 0.5em;">
                        <em class="text-muted">
                            (действующих: <span class="text-success">{{ summary.valid }}</span>;
                            истекших: <span class="text-danger">{{ summary.expired }}</span>)
                        </em>
                    </span>
                    <span style="margin-left: 1em;">Отфильтровано: <span class="text-primary">{{ totalRows }}</span></span>
                </div>

                            <!-- v-on:click="printSelectedPermits()" -->
                <div class="col-2 text-right">
                    <form action="/permits/print" method="POST" target="_blank">
                        <input type="hidden" name="_token" v-bind:value="myToken">
                        <input type="hidden" name="permits" v-bind:value="printBag">

                        <button type="submit" class="btn btn-sm btn-outline-dark" v-bind:disabled="printButton()">
                            <font-awesome-icon icon="print" />
                            На печать <span class="badge badge-pill badge-secondary">{{ printBag.length }}</span>
                        </button>
                    </form>
                </div>
            </div>

            <div class="row" style="margin: 0.8em 0 0 0;">
                <div class="col-5">
                    <div class="input-group" v-if="checkedPermitIds.length">
                        <input type="text" class="form-control" v-model="person" autocomplete="off" placeholder="Введите ФИО получателя..." />

                        <div class="input-group-append">
                            <span class="clear-input-field input-group-text" v-on:click="clearPerson" id="clearPerson">
                                <font-awesome-icon icon="xmark" fixed-width />
                            </span>
                        </div>

                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button"
                                v-on:click="storePerson"
                                v-bind:disabled="checkIfPersonNotEmpty">
                                <font-awesome-icon icon="floppy-disk" fixed-width /> Сохранить
                            </button>
                        </div>
                    </div>
                </div>

                <div class="col-7">
                    <paginate
                        v-model="currentPage"

                        :page-count="pages"
                        :page-range="page.range"
                        :margin-pages="page.margin"

                        :click-handler="displayNextItems"

                        :prev-text="'пред.'"
                        :next-text="'след.'"
                        :first-button-text="'В начало'"
                        :last-button-text="'В конец'"


                        :container-class="'pagination pagination-sm justify-content-end'"
                        :page-class="'page-item'"
                        :page-link-class="'page-link'"
                        :prev-link-class="'page-link'"
                        :next-link-class="'page-link'"
                        :break-view-link-class="'break-view-link'"

                        :first-last-button="true"
                    ></paginate>
                </div>
            </div>
        </div>



        <div class="container-fluid" style="padding-bottom: 0.5em;">
            <div class="row">
                <div class="col">
                    <table class="table table-sm table-hover">
                        <thead>
                            <tr class="table-info" >
                                <th class="align-top" style="width: 5%;">
                                    <font-awesome-icon :icon="['far', 'square-check']" v-on:click="checkAllPermitIds()" size="lg" style="cursor: pointer;" />
                                    <font-awesome-icon :icon="['far', 'square']" v-on:click="unCheckAllPermitIds()" size="lg" style="cursor: pointer;" />
                                </th>
                                <th class="align-top" style="width: 15%;">
                                    <font-awesome-icon style="cursor: pointer;"
                                        v-bind:icon="['fas', 'bag-shopping']"
                                        v-bind:class="[ 'text-success' ]"
                                        v-on:click="putAllToPrintBag()"
                                        />
                                    <font-awesome-icon style="cursor: pointer;"
                                        v-bind:icon="['fas', 'bag-shopping']"
                                        v-bind:class="[ 'text-muted' ]"
                                        v-on:click="removeAllFromPrintBag()"
                                        />
                                    &#8470;
                                </th>
                                <th class="align-top" style="width: 10%;">Номер авто</th>
                                <th class="align-top">Марка авто</th>
                                <th class="align-top">Кому выдан</th>
                                <th class="align-top">Заказчик</th>
                                <th class="align-top" style="width: 19%;">Срок действия</th>
                                <th class="align-top" width="25%">Передано (ФИО)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="permit"
                                v-for="(permit, index) in permits"
                                v-bind:class="[ editAction ? permit.id == permitId ? 'table-success' : '' : 'text-danger' == highlightValidityPeriod(permit) ? 'text-secondary' : '', printBag.indexOf(permit.id) !== -1 ? 'table-success' : '' ]"
                                v-bind:key="index">
                                <td class="text-center">
                                    <div class="custom-control custom-checkbox custom-control-inline" v-if="!permit.transferred">
                                        <input type="checkbox" class="custom-control-input" v-model="checkedPermitIds" v-bind:value="permit.id" v-bind:id="'permit_' + permit.id">
                                        <label class="custom-control-label" v-bind:for="'permit_' + permit.id"></label>
                                    </div>
                                    <!-- {{ permit.transferred }} -->
                                </td>
                                <td>
                                    <font-awesome-icon style="cursor: pointer;" fixed-width
                                        v-bind:icon="['fas', 'bag-shopping']"
                                        v-bind:class="[ printBag.indexOf(permit.id) !== -1 ? 'text-success' : 'text-muted' ]"
                                        v-on:click="putToOrRemoveFromPrintBag(permit.id)"
                                        />
                                    {{ permit.number }}
                                    <span v-bind:class="[ permit.kpp1 ? 'allowed' : 'prohibited' ]">Пургаз</span>
                                    <span v-bind:class="[ permit.kpp2 ? 'allowed' : 'prohibited' ]">Лекс</span>
                                    <font-awesome-icon icon="gun" v-if="permit.weapon" />
                                    <span class="privileged" v-if="permit.privileged">БЕЗ ДОСМОТРА</span>
                                </td>
                                <td>{{ permit.plate }}</td>
                                <td>{{ permit.model }}</td>
                                <td>{{ permit.owner }}</td>
                                <td>{{ permit.customer }}</td>
                                <td v-bind:class="[ highlightValidityPeriod(permit) ]">
                                    {{ formatDate(permit.start) }} <span style="margin: 0 0.3rem;">-</span> {{ formatDate(permit.end) }}
                                </td>
                                <td>
                                    {{ permit.person }}
                                    <div class="form-inline">
                                        <button class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#addPermitModal" v-on:click="invalidatePermit(permit.id)" title="Аннулировать пропуск (сделать недействительным)" v-bind:disabled="'text-danger' == highlightValidityPeriod(permit) ? true : false">
                                            <font-awesome-icon icon="trash-can" fixed-width /> <!-- Invalidate -->
                                        </button>

                                        <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#addPermitModal" v-on:click="editPermit(permit.id)" title="Отредактировать текущий пропуск" v-bind:disabled="'text-danger' == highlightValidityPeriod(permit) ? true : false">
                                            <font-awesome-icon icon="pencil" fixed-width /> <!-- Edit -->
                                        </button>

                                        <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#addPermitModal" v-on:click="addPermit(permit.id)" title="Добавить новый пропуск, на основе текущего">
                                            <font-awesome-icon icon="copy" fixed-width /> <!-- Create new -->
                                        </button>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>



                </div>
            </div>
        </div>


    </div>
</template>

<script>
import moment from 'moment';
import NewPermit from './NewPermit';
import Filters from './Filters';
import Paginate from 'vuejs-paginate';
import { bus } from "../../app";

export default {
    components: {
        'new-permit': NewPermit,
        'filters': Filters,
        'paginate': Paginate,
    },

    data: function () {
        return {
            myToken: '',

            displayFilters: false,
            displayForm: true,
            summary: [],
            permitId: 0,
            person: '',
            checkedPermitIds: [],
            editAction: false,
            invalidateAction: false,

            printBag: [],

            page: {
                count: 20,
                range: 5,
                margin: 2
            }
        }
    },

    methods: {
        toggleFilters: function () {
            if (this.displayFilters) {
                this.displayFilters = false;
            } else {
                this.displayFilters = true;
                this.displayForm = false;
            }

            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        toggleForm: function () {
            if (this.displayForm) {
                this.displayForm = false;
            } else {
                this.populatePermits(); // get all valid permits by path "/permits/getvalid"
                this.$store.commit('setLastPermitNumber');

                this.displayForm = true;
                this.displayFilters = false;
                // bus.$emit('setFocusToModel');
            }

            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        displayFilteredPermits: function (response) {
            this.$store.state.permits.totalRows = response.totalRows;
            this.$store.state.permits.permits = response.permits;
        },

        formatDate: function (value) {
            return moment(new Date(value)).format('DD.MM.YYYY');
        },

        highlightValidityPeriod: function (permit) {
            var now = moment(new Date());

            if (now >= moment(new Date(permit.end))) {
                return 'text-danger';
            } else if (moment(new Date(permit.start)) > now) {
                return 'text-warning';
            } else {
                return 'text-success';
            }
        },

        highlightPermit: function (id) {
            this.permitId = id;
        },

        addPermit: function (id) {
            this.displayFilters = false;
            this.displayForm = false;
            this.editAction = false;

            this.$store.commit('addPermit', id);
        },

        editPermit: function (id) {
            this.displayFilters = false;
            this.displayForm = false;
            this.editAction = true;

            this.$store.commit('editPermit', id);
        },

        invalidatePermit: function (id) {
            this.displayFilters = false;
            this.displayForm = false;
            this.invalidateAction = true;

            this.$store.commit('invalidatePermit', id);
        },

        updatePermitsSummary: function () {
            axios.get('/permits/summary').then(response => {
                this.summary = response.data;
            });
        },

        populatePermits: function () {
            this.$store.commit('setPermitFilteringPath', '/permits/getvalid');
            this.$store.commit('setPermitsPage', { page: 1 }); // 1 - first page for pagination
            this.$store.commit('populatePermits');
        },

        displayNextItems: function () {
            this.$store.commit('populatePermits');
            this.checkedPermitIds = [];
            this.printBag = [];
        },

        checkAllPermitIds: function () {
            this.checkedPermitIds = this.allPermitIds;
        },

        unCheckAllPermitIds: function () {
            this.checkedPermitIds = [];
        },

        clearPerson: function () {
            this.person = '';
        },

        storePerson: function () {
            axios.post('/permit/transfer', {
                person: this.person,
                permits: this.checkedPermitIds
            }).then(response => {
                this.person = '';
                this.checkedPermitIds = [];
                this.populatePermits();
            });
        },

        putToOrRemoveFromPrintBag: function (id) {
            if (this.printBag.indexOf(id) !== -1) {
                this.printBag.splice(this.printBag.indexOf(id), 1);
            } else {
                this.printBag.push(id);
            }
        },

        putAllToPrintBag: function () {
            this.printBag = [];
            this.$store.getters.permits.forEach(item => {
                this.printBag.push(item.id);
            });
        },

        removeAllFromPrintBag: function () {
            this.printBag = [];
        },

        printSelectedPermits: function () {
            window.open("https://itsolutionstuff.com", "_blank");
        },

        printButton: function () {
            return this.printBag.length ? false : true;
        },
    },

    computed: {
        permits: function () {
            return this.$store.getters.permits;
        },

        allPermitIds: function () {
            return this.$store.getters.allPermitIds;
        },

        currentPage: {
            get () { return this.$store.state.permits.permitsPage; },
            set (value) { this.$store.commit('setPermitsPage', { page: value }); }
        },

        pages: function () {
            return this.$store.state.permits.pages;
        },

        totalRows: function () {
            // В России в качестве разделителя целой и дробной части используется запятая, а в качестве разделителя разрядов - пробел
            return new Intl.NumberFormat('ru-RU').format(this.$store.state.permits.totalRows);
        },

        checkIfPersonNotEmpty: function () {
            let pattern = /[а-яА-ЯёЁa-zA-Z]+/;

            if (pattern.test(this.person)) {
                return false;
            } else {
                return true;
            }
        }
    },

    created: function () {
        this.updatePermitsSummary();
        this.$store.commit('setLastPermitNumber');
        this.populatePermits(); // get all valid permits by path "/permits/getvalid"

        let myToken = document.head.querySelector('meta[name="csrf-token"]');
        this.myToken = myToken.content;
        // bus.$emit('setFocusToModel');
    }
}
</script>


<style scoped>
.privileged {
    font-family: 'Courier New', Courier, monospace;
    color: #c00;
}
.allowed {
    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    padding: 2px 5px 4px;
    border-radius: 3px;
}
.prohibited {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    padding: 2px 5px 4px;
    border-radius: 3px;
}
</style>
