<template>
    <div id="filters">

        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Фильтры</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" v-on:click="hideFilters()" title="Закрыть">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body">
                <div class="row">
                    <div class="col-4">
                        <div>
                            <strong>Направление:</strong>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" value="in" v-model="direction" id="in">
                            <label class="custom-control-label" for="in">Въезд</label>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline">
                            <input type="checkbox" class="custom-control-input" value="out" v-model="direction" id="out">
                            <label class="custom-control-label" for="out">Выезд</label>
                        </div>
                    </div>


                    <div class="col-8">
                        <div>
                            <strong>Эмитенты:</strong>
                        </div>

                        <div class="custom-control custom-checkbox custom-control-inline" v-for="(emitter, index) in this.$store.getters.actualEmitters">
                            <input type="checkbox" class="custom-control-input" v-bind:value="emitter.emitter" v-model="emitters" v-bind:id="index">
                            <label class="custom-control-label" v-bind:for="index">{{ emitter.emitter }}</label>
                        </div>
                    </div>
                </div>

                <div class="row" style="padding-top: 1rem;">
                    <div class="col-4">
                        <div class="form-group">
                            <label for="plate">Гос. номер:</label>
                            <permits-autocomplete v-bind:field="'plate'" v-bind:placeholder="'Гос. номер автомобиля'"></permits-autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="customer">Заказчик:</label>
                            <log-autocomplete v-bind:field="'customer'" v-bind:placeholder="'Заказчик'"></log-autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="cargo">Груз:</label>
                            <log-autocomplete v-bind:field="'cargo'" v-bind:placeholder="'Груз'"></log-autocomplete>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="model">Марка авто:</label>
                            <permits-autocomplete v-bind:field="'model'" v-bind:placeholder="'Марка и модель автомобиля'"></permits-autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="driver">Водитель:</label>
                            <log-autocomplete v-bind:field="'driver'" v-bind:placeholder="'Водитель'"></log-autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="start">Дата событий с:</label>
                            <div class="input-group">
                                <flat-pickr class="form-control" aria-label="dateStart" aria-describedby="dateStart" v-model="start" v-bind:config="config"></flat-pickr>

                                <div class="input-group-append">
                                    <span class="input-group-text" id="dateStart">
                                        <font-awesome-icon icon="calendar-days" fixed-width />
                                    </span>
                                </div>

                                <div class="input-group-append">
                                    <span class="clear-input-field input-group-text" v-on:click="clearField('start')" id="start">
                                        <font-awesome-icon icon="xmark" fixed-width />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="form-group">
                            <label for="owner">Кому выдан:</label>
                            <permits-autocomplete v-bind:field="'owner'" v-bind:placeholder="'Кому выдан'"></permits-autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="destination">Пункт назначения:</label>
                            <log-autocomplete v-bind:field="'destination'" v-bind:placeholder="'Пункт назначения'"></log-autocomplete>
                        </div>

                        <div class="form-group">
                            <label for="end">Дата событий по:</label>
                            <div class="input-group">
                                <flat-pickr class="form-control" aria-label="dateEnd" aria-describedby="dateEnd" v-model="end" v-bind:config="config"></flat-pickr>

                                <div class="input-group-append">
                                    <span class="input-group-text" id="dateEnd">
                                        <font-awesome-icon icon="calendar-days" fixed-width />
                                    </span>
                                </div>

                                <div class="input-group-append">
                                    <span class="clear-input-field input-group-text" v-on:click="clearField('end')" id="end">
                                        <font-awesome-icon icon="xmark" fixed-width />
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" v-on:click="applyFilters()" title="Применить выбранные фильтры">
                    <font-awesome-icon icon="check" fixed-width /> Применить
                </button>

                <button type="button" class="btn btn-outline-warning" v-on:click="clearFilters()" title="Очистить все фильтры">
                    <font-awesome-icon icon="rotate-right" v-bind:rotation="180" fixed-width /> Сбросить
                </button>

                <button type="button" class="btn btn-outline-danger" v-on:click="hideFilters()" title="Сбросить фильтры к ранее сохраненным настройкам и закрыть форму">
                    <font-awesome-icon icon="xmark" fixed-width /> Отменить
                </button>
            </div>
        </div>

    </div>
</template>

<script>
import moment from 'moment';
import LogAutocomplete from '../Registration/Autocomplete';
import PermitsAutocomplete from '../Permits/Autocomplete';
import flatPickr from 'vue-flatpickr-component';
import { Russian } from "flatpickr/dist/l10n/ru.js";
import 'flatpickr/dist/flatpickr.css';

export default {
    components: {
        'log-autocomplete': LogAutocomplete,
        'permits-autocomplete': PermitsAutocomplete,
        'flat-pickr': flatPickr
    },

    data: function () {
        return {
            config: {
                dateFormat: "d.m.Y",
                altFormat: "d.m.Y",
                altInput: true,
                // allowInput: true,
                // inline: true,
                "locale": Russian
            }
        }
    },

    methods: {
        clearField: function (field) {
            this.$store.state.permits.permitData[field] = '';
            this.$store.state.permits.permitSuggestions[field] = [];
        },

        applyFilters: function () {
            let selectedFilters = {
                direction: this.$store.state.registration.direction,
                emitters: this.$store.state.registration.emitters,

                plate: this.$store.state.permits.permitData.plate,
                model: this.$store.state.permits.permitData.model,
                owner: this.$store.state.permits.permitData.owner,

                customer: this.$store.state.registration.logData.customer,
                driver: this.$store.state.registration.logData.driver,
                destination: this.$store.state.registration.logData.destination,

                cargo: this.$store.state.registration.logData.cargo,
                start: this.$store.state.permits.permitData.start,
                end: this.$store.state.permits.permitData.end,
            }

            this.$store.commit('setLogActionPath', '/filtering/search');
            this.$store.commit('setPlate', selectedFilters); // in context of filtering 'setPlate' is used to transfer selected filters to php script otherwise it should be equal to empty string or string with plate typed by user
            this.$store.commit('setPage', { page: 1 });
            this.$store.commit('populateLastLogs');
        },

        clearFilters: function () {
            this.direction = [];
            this.emitters = [];

            this.$store.commit('clearAllLogData');
            this.$store.commit('clearPermitData');

            this.$store.state.registration.permitIsSelected = true;
            this.$store.state.registration.permitIsValid = true;
        },

        hideFilters: function () {
            this.$emit('hideFilters');
        }

    },

    computed: {
        direction: {
            get () { return this.$store.state.registration.direction; },
            set (value) { this.$store.commit('setDirection', value); }
        },

        emitters: {
            get () { return this.$store.state.registration.emitters; },
            set (value) { this.$store.commit('setEmitters', value); }
        },

        start: {
            get () { return this.$store.state.permits.permitData.start; },
            set (value) { this.$store.commit('updatePermitData', { field: 'start', value: value }); }
        },

        end: {
            get () { return this.$store.state.permits.permitData.end; },
            set (value) { this.$store.commit('updatePermitData', { field: 'end', value: value }); }
        }
    },

    created: function () {
        axios.get('/settings/search').then(response => {
            if (!response.data.error) {
                this.direction = response.data.direction.length ? response.data.direction : [];
                this.emitters = response.data.emitters.length ? response.data.emitters : [];
    
                let start = '' != response.data.start ? moment(new Date(response.data.start)).format('DD.MM.YYYY') : '';
                let end = '' != response.data.end ? moment(new Date(response.data.end)).format('DD.MM.YYYY') : '';
    
                this.$store.commit('updatePermitData', { field: 'plate', value: response.data.plate });
                this.$store.commit('updatePermitData', { field: 'model', value: response.data.model });
                this.$store.commit('updatePermitData', { field: 'owner', value: response.data.owner });
    
                this.$store.commit('updateLogData', { field: 'customer', value: response.data.customer });
                this.$store.commit('updateLogData', { field: 'driver', value: response.data.driver });
                this.$store.commit('updateLogData', { field: 'destination', value: response.data.destination });
                this.$store.commit('updateLogData', { field: 'cargo', value: response.data.cargo });
    
                this.$store.commit('updatePermitData', { field: 'start', value: start });
                this.$store.commit('updatePermitData', { field: 'end', value: end });
    
                this.applyFilters();
            } else {
                this.$store.commit('populateLastLogs');
                console.log(response.data.message);
            }
        }).catch(error => {
            for(var item in error.response.data.errors) {
                console.log(error.response.data.errors[item][0]);
            }
        });

    }
}
</script>
