
// Body
$body-bg: #f8fafc;

// Typography
// $font-family-sans-serif: "Nunito", sans-serif;
// $font-size-base: 1rem;
// $line-height-base: 1.5;

// Colors
// $blue: #3490dc;
// $indigo: #6574cd;
// $purple: #9561e2;
// $pink: #f66D9b;
// $red: #e3342f;
$orange: #f6993f;
// $yellow: #dfa702;
$yellow: #fc8f00;
// $green: #38c172;
// $teal: #4dc0b5;
// $cyan: #6cb2eb;
