body {
    background: rgb(204,204,204);
}
/* A4:  210x297 */
page {
    width: 200mm; /* 5mm + 5mm - two paddings */
    height: 282mm; /* 5mm + 5mm + 5mm - two paddings and one margin-bottom */

    background: white;
    display: block;

    margin: 0 auto;
    padding-top: 3mm;
    padding-left: 2mm;
    margin-bottom: 5mm;

    page-break-after: always;
}


@media print {
    body, page {
        margin: 0;
    }
}





/*  267.2  */
.box-outer {
    margin: 3mm auto;

    border: 0.4mm solid #0000ff;
    width: 192mm;
    height: 66mm;
}
.box-middle {
    margin: 0 auto;
    margin-top: 0.22mm;

    border: 1.4mm solid #0000ff;
    width: 188.8mm;
    height: 62.8mm;
}
.box-inner {
    position: relative;
    margin: 0 auto;
    margin-top: 0.24mm;

    border: 0.4mm solid #0000ff;
    width: 187.6mm;
    height: 61.6mm;
}


.decorative {
    margin: 0 auto;
    width: 185.6mm;
    height: 3.6mm;
    border-collapse: collapse;
}
.decorative, .decorative td {
    border: 0.1mm solid #000000;
}

.work {
    margin: 1mm auto 0;
    width: 182mm;
    height: 55mm;
    border-collapse: collapse;
}
.work, .work td {
    border: 0mm solid #000000;
}

.logo, .logo img {
    width: 21mm;
}

.zao div {
    font-size: 3mm;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: bold;
    transform: rotate(270deg);
    margin-left: -22mm;
    margin-right: -22mm;
}

.content {
    width: 150mm;
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: top;
    text-align: center;
    font-weight: bold;
    padding: 0 1mm;
    font-size: 4mm;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.permit {
    color: rgb(204, 0, 0);
    font-family: 'Impact';
    font-size: 10mm;
}

.number {
    margin-left: 5px;
    font-family: 'Impact';
    font-size: 10mm;
}

.weapon {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 8mm;
    height: 8mm;

    position: absolute;
    right: 1mm;
    top: 3mm;
}

.place {
    text-decoration: underline;
    font-size: 3.4mm;
}

.modelPlate {
    margin-top: 1mm;
    margin-bottom: 1mm;
}
.model {
    display: inline-block;
    text-align: left;
    width: 74mm;
}
.plate {
    display: inline-block;
    text-align: left;
    width: 74mm;
}
.plate span {
    color: rgb(165, 0 , 33);
    font-family: Arial Black, Helvetica, sans-serif;
    font-size: 6mm;
}

.owner, .customer, .worker, .start {
    margin-top: 0.3mm;
    text-align: left;
}
.owner span, .customer span, .name span, .start span {
    font-size: 4.5mm;
}

.position {
    width: 100mm;
}
.name {
    width: 48mm;
    text-align: right;
}
.position, .name {
    display: inline-block;
}


.start {
    box-sizing: border-box;
    padding: 0;
}

.start span {
    font-size: 3.5mm;
}

.end {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    margin-top: 1mm;
    position: relative;
    display: flex;
    flex-direction: row;
}

.expires {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    font-size: 4mm;
}

.allowed {
    box-sizing: border-box;
    margin: 0 6px 0 0;
    padding: 4px 3px;

    background-color: #d4edda;
    border: 1px solid #c3e6cb;
    border-radius: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.prohibited {
    box-sizing: border-box;
    margin: 0 6px 0 0;
    padding: 4px 3px;

    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    border-radius: 3px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.kpp__title {
    box-sizing: border-box;
    margin: 0 5px 0 3px;
    padding: 0;

    font-size: large;
    font-weight: 600;
}
.kpp__check {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    width: 6mm;
    height: 5mm;
}    
.kpp__clear {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    width: 6mm;
    height: 5mm;
}

.privileged {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 102px;
    height: 30px;
}

