<template>
    <div>
        <NavBar />

        <router-view></router-view>

        <Footer />
    </div>
</template>

<script>
import NavBar from "./NavBar";
import Footer from "./Footer";

export default {
    components: {
        NavBar,
        Footer
    },

    created: function () {
        axios.get('/emitters/actual').then(response => {
            this.$store.state.registration.actualEmitters = response.data;
        });

        axios.get('settings/setups').then(response => {
            if (Object.keys(response.data).length != 0) {
                if(response.data.hasOwnProperty('logsAtPage')){
                    this.$store.state.registration.rowsRoDisplay = +response.data.logsAtPage;
                }

                if(response.data.hasOwnProperty('permitsAtPage')){
                    this.$store.state.permits.rowsRoDisplay = +response.data.permitsAtPage;
                }
            }
        });

    }
}
</script>
