<template>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample07">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/" exact>
                            <font-awesome-icon :icon="['far', 'address-card']" fixed-width /> Пропуска
                        </router-link>
                    </li>
                </ul>

                <ul class="navbar-nav justify-content-end">
                    <li class="nav-item">
                        <router-link class="nav-link" to="/settings" exact><font-awesome-icon icon="gear" fixed-width /> Настройки</router-link>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</template>
