<template>
        <div class="container-fluid" style="padding-top: 1rem; padding-bottom: 0.1rem;">
            <div class="row">
                <div class="col">
                    <download-excel class="btn btn-link text-left" style="cursor: pointer;"
                        v-bind:fetch="logsExportToExcel"
                        v-bind:fields="exportFields" 
                        v-bind:name="'Отчёт КПП ЗАО Пургаз.xls'" 
                        v-bind:title="'Журнал въезда/выезда автомобилей через КПП ЗАО «Пургаз»'" 
                    >
                        <font-awesome-icon icon="file-excel" fixed-width /> Экспортировать таблицу в Microsoft Excel
                    </download-excel>
                </div>

                <div class="col">
                    <paginate
                        v-model="currentPage"

                        :page-count="pages"
                        :page-range="page.range"
                        :margin-pages="page.margin"

                        :click-handler="displayNextItems"

                        :prev-text="'пред.'"
                        :next-text="'след.'"
                        :first-button-text="'В начало'"
                        :last-button-text="'В конец'"


                        :container-class="'pagination pagination-sm justify-content-end'"
                        :page-class="'page-item'"
                        :page-link-class="'page-link'"
                        :prev-link-class="'page-link'"
                        :next-link-class="'page-link'"
                        :break-view-link-class="'break-view-link'"

                        :first-last-button="true"
                    ></paginate>
                </div>
            </div>


            <table class="table table-hover table-sm">
                <thead>
                    <tr class="table-info">
                        <th class="align-top" style="width: 6%"><font-awesome-icon icon="right-left" fixed-width /></th>
                        <th class="align-top">Гос. номер</th>
                        <th class="align-top">Марка авто</th>
                        <th class="align-top">Владелец авто</th>
                        <th class="align-top">Пропуск &#8470;</th>
                        <th class="align-top">Эмитент</th>
                        <th class="align-top">Дата и время</th>
                        <th class="align-top">Водитель</th>
                        <th class="align-top">Груз</th>
                        <th class="align-top">Заказчик</th>
                        <th class="align-top">Пункт назначения</th>
                        <th class="align-top">Примечание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="table-warning" v-for="(lastlog, index) in lastLogs">
                        <td v-bind:title="'Строка ' + (index + 1 + (currentPage -1) * rowsRoDisplay) + ' из ' + totalRows">
                            <button type="submit" class="btn btn-link" v-on:click="reverse(lastlog.id, lastlog.created_at, index)" v-bind:disabled="cursor(lastlog.created_at)" style="padding: 0; cursor: pointer;">
                                <font-awesome-icon v-if="directionIn(lastlog.direction)" class="text-success" icon="arrow-right-to-bracket" fixed-width />
                                <font-awesome-icon v-if="directionOut(lastlog.direction)" class="text-danger" icon="arrow-right-from-bracket" fixed-width />
                            </button>
                            {{ lastlog.direction }}
                        </td>
                        <td>{{ lastlog.plate }}</td>
                        <td>{{ lastlog.model }}</td>
                        <td>{{ lastlog.owner }}</td>
                        <td>{{ lastlog.number }}</td>
                        <td>{{ lastlog.emitter }}</td>
                        <td>{{ formatDate(lastlog.created_at) }} <code class="text-secondary" style="margin-left: 1em;"><em>{{ formatTime(lastlog.created_at) }}</em></code></td>
                        <td>{{ lastlog.driver }}</td>
                        <td>{{ lastlog.cargo }}</td>
                        <td>{{ lastlog.customer }}</td>
                        <td>{{ lastlog.destination }}</td>
                        <td>{{ lastlog.comment }}</td>
                    </tr>
                </tbody>
            </table>

        </div>
</template>

<script>
import moment from 'moment';
import JsonExcel from 'vue-json-excel';
import Paginate from 'vuejs-paginate';

export default {
    components: {
        'download-excel': JsonExcel,
        'paginate': Paginate,
    },

    data: function () {
        return {
            exportFields: {
                'Направление': 'direction',
                'Гос. номер': 'plate',
                'Марка авто': 'model',
                'Владелец авто': 'owner',
                'Номер пропуска': 'number',
                'Эмитент': 'emitter',
                'Дата и время': 'created_at',
                'Водитель': 'driver',
                'Груз': 'cargo',
                'Заказчик': 'customer',
                'Пункт назначения': 'destination',
                'Примечание': 'comment',
            },

            page: {
                count: 20,
                range: 5,
                margin: 2
            }
        }
    },

    methods: {
        directionIn: function (direction) {
            return 'in' == direction;
        },

        directionOut: function (direction) {
            return 'out' == direction;
        },

        formatDate: function (value) {
            return moment(new Date(value)).format('DD.MM.YYYY');
        },

        formatTime: function (value) {
            return moment(new Date(value)).format('HH:mm:ss');
        },

        reverse: function (id, created_at, index) {
            let day = 60 * 60 * 24;
            let now = Math.floor(Date.now() / 1000); // current timestamp in seconds
            let createdAt = Math.floor(new Date(created_at).getTime()/ 1000); // // created_at time in seconds

            if (now - createdAt <= day) {
                this.$emit('reverseDirection', { id: id, index: index });
            }
        },

        cursor: function (created_at) {
            let day = 60 * 60 * 24;
            let now = Math.floor(Date.now() / 1000); // current timestamp in seconds
            let createdAt = Math.floor(new Date(created_at).getTime()/ 1000); // // created_at time in seconds

            if (now - createdAt <= day) {
                return false;
            } else {
                return true;
            }
        },

        displayNextItems: function (pageNum) {
            // console.log('Page number: ' + pageNum);
            // pageNum - page to display in pagination
            // this.$store.commit('populateLastLogs', { page: pageNum }); // 1 - first page for pagination
            this.$store.commit('populateLastLogs'); // 1 - first page for pagination
        },

        async logsExportToExcel(){
            let answer;
            let selectedSearchFilters = '';

            if ('/filtering/search' == this.$store.state.registration.logActionPath) {
                selectedSearchFilters = {
                    direction: this.$store.state.registration.direction,
                    emitters: this.$store.state.registration.emitters,
    
                    plate: this.$store.state.permits.permitData.plate,
                    model: this.$store.state.permits.permitData.model,
                    owner: this.$store.state.permits.permitData.owner,
    
                    customer: this.$store.state.registration.logData.customer,
                    driver: this.$store.state.registration.logData.driver,
                    destination: this.$store.state.registration.logData.destination,
    
                    cargo: this.$store.state.registration.logData.cargo,
                    start: this.$store.state.permits.permitData.start,
                    end: this.$store.state.permits.permitData.end
                }
            }

            if ('/logs/plate' == this.$store.state.registration.logActionPath) {
                selectedSearchFilters = this.$store.state.registration.plate;
            }

            await axios.post(this.$store.state.registration.logActionPath, {
                plate: selectedSearchFilters,
                page: 1,
                rows: 0 // if this variable equals 0 rows (or false), then it is used for exporting logs to Excel and means "fetch all appropriate rows"
            }).then(response => {
                answer = response.data.logs;
            });

            return answer;
        }
    },

    computed: {
        currentPage: {
            get () { return this.$store.state.registration.page; },
            set (value) { this.$store.commit('setPage', { page: value }); }
        },

        pages: function () {
            return this.$store.state.registration.pages;
        },

        lastLogs: function () {
            return this.$store.getters.lastLogs;
        },

        totalRows: function () {
            return this.$store.getters.totalRows;
        },

        rowsRoDisplay: function () {
            return this.$store.getters.rows;
        }

    }

}
</script>
