<template>
    <div>
        <div class="container">
            <div class="row">
                <div class="col">


                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col">
                                    <h5 class="text-danger">Регистрация въезда-выезда</h5>
                                </div>

                                <div class="col text-right">
                                    <button class="btn btn-outline-warning btn-sm" data-toggle="modal" data-target="#addPermitModal" title="Редактировать пропуск" v-on:click="editPermit(currentPermit.id)" v-bind:disabled="disableEditButton">
                                        <font-awesome-icon icon="pencil" fixed-width />
                                    </button>

                                    <button class="btn btn-outline-success btn-sm" data-toggle="modal" data-target="#addPermitModal" title="Добавить новый пропуск" v-on:click="clearPermitData()">
                                        <font-awesome-icon icon="plus" fixed-width />
                                    </button>
                                </div>
                            </div>

                            <div class="row">
                                <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="addPermitModal">
                                    <new-permit v-on:updateRelevantPermits="updateRelevantPermits($event)"></new-permit>
                                </div>
                            </div>
                        </div>

                        <div class="card-body" style="padding-bottom: 0.2rem;">
                            <div class="row">
                                <div class="col-7">

                                    <div class="col px-1" style="position: relative">
                                        <div class="input-group">
                                            <input type="text" autocomplete="off" class="form-control" placeholder="Начните вводить гос. номер авто..." 
                                                ref="search" 
                                                v-model="permits.searchPhrase" 
                                                v-on:input="getPermits" 
                                                v-on:focus="focused" 
                                                autofocus
                                            />
                                            <div class="input-group-append">
                                                <span class="clear-input-field input-group-text" v-on:click="clearPlateInput" v-on:dblclick="clearAllLogData" id="clearPlateInput">
                                                    <font-awesome-icon icon="xmark" fixed-width />
                                                </span>
                                            </div>
                                        </div>
                                        <found-permits v-bind:permits="permits" v-on:select="selectPermitByPlate($event)" v-bind:style="{ display: display }"></found-permits>
                                    </div>



                                    <div class="row" style="padding: 1rem 0;">
                                        <input type="hidden" name="permitId" value="" v-model="currentPermit.id">

                                        <div class="col">
                                            <autocomplete v-bind:field="'customer'" v-bind:placeholder="'Заказчик'"></autocomplete>
                                        </div>
                                        <div class="col">
                                            <autocomplete v-bind:field="'driver'" v-bind:placeholder="'Водитель'"></autocomplete>
                                        </div>
                                    </div>
                                    <div class="row" style="margin-bottom: 0.5rem;">
                                        <div class="col">
                                            <autocomplete v-bind:field="'destination'" v-bind:placeholder="'Пункт назначения'"></autocomplete>
                                        </div>
                                        <div class="col">
                                            <autocomplete v-bind:field="'comment'" v-bind:placeholder="'Примечание'"></autocomplete>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                            <autocomplete v-bind:field="'cargo'" v-bind:placeholder="'Груз'"></autocomplete>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-5">
                                    <table class="table table-sm table-hover" style="margin: 0;">
                                        <tbody>
                                            <tr>
                                                <td>Эмитент:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.emitter"></td>
                                            </tr>
                                            <tr>
                                                <td>Номер пропуска:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.number"></td>
                                            </tr>
                                            <tr>
                                                <td>Срок действия:</td>
                                                <td class="text-right" v-bind:class="[ validityPeriodColor ]">{{ currentPermit.start }}<span v-if="currentPermit.id"> - </span>{{ currentPermit.end }}</td>
                                            </tr>
                                            <tr>
                                                <td>Кому выдан:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.owner"></td>
                                            </tr>
                                            <tr>
                                                <td>Марка авто:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.model"></td>
                                            </tr>
                                            <tr>
                                                <td>Номер авто:</td>
                                                <td class="text-primary text-right" v-text="currentPermit.plate"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-muted">
                            <div class="row">
                                <div class="col-4" style="padding-top: 0.4rem;">
                                    <font-awesome-icon v-bind:class="[currentStatus]" icon="circle" fixed-width />
                                    <span class="text-info" v-html="statusMessage"></span>
                                </div>

                                <div class="col-3 text-right">
                                    <button type="button" class="btn emitter-btn btn-outline-success" title="Зарегистрировать Въезд" 
                                            v-on:click="registerMove('in')" 
                                            v-bind:disabled="!checkIfRequiredFieldsAreFilledOut">
                                        <font-awesome-icon icon="arrow-right-to-bracket" fixed-width />  Въезд
                                    </button>
                                    <button type="button" class="btn emitter-btn btn-outline-danger" title="Зарегистрировать Выезд" 
                                            v-on:click="registerMove('out')" 
                                            v-bind:disabled="!checkIfRequiredFieldsAreFilledOut">
                                        Выезд <font-awesome-icon icon="arrow-right-from-bracket" fixed-width />
                                    </button>
                                </div>

                                <div class="col-5 text-right" style="padding-top: 0.4rem;">
                                    <span class="float-left">Событий: <span class="text-danger">{{ lastLogsCount }}</span></span>
                                    Текущее время: <span class="text-danger" v-on:click="now()">{{ curTime }}</span>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>

        <last-logs v-if="lastLogs" v-on:reverseDirection="reverseDirection($event)"></last-logs>
    </div>
</template>

<script>
import moment from 'moment';
import FoundPermits from './FoundPermits';
import Autocomplete from './Autocomplete';
import LastLogs from './LastLogs';
import NewPermit from '../Permits//NewPermit';


export default {
    components: {
        'found-permits': FoundPermits,
        'autocomplete': Autocomplete,
        'last-logs': LastLogs,
        'new-permit': NewPermit
    },

    data: function () {
        return {
            curTime: moment().format('DD.MM.YYYY HH:mm:ss'),

            selectedEmitter: '',
            currentPermit: { id: '', emitter: '', number: '', owner: '', model: '', plate: '', start: '', end: '' },

            validityPeriodColor: 'text-danger',
            statusMessage: this.displayStatusMessage('selectPermit'),
            permitMessage: '',

            disableEditButton: true,


            pattern: /\S+/,

            display: 'none',
            typedByUser: '',
            permits: { foundPermits: [], searchPhrase: '', pattern: '', dateNow: moment(new Date()) },

            highlightIndex: 0
        }
    },

    methods: {
        getPermits: function () {
            if (this.permits.searchPhrase.length > 0) {
                this.typedByUser = this.permits.searchPhrase;

                if (this.pattern.test(this.permits.searchPhrase)) {
                    axios.get('/permits/plate/autocomplete', {
                        params: {
                            phrase: this.permits.searchPhrase
                        }

                    }).then(response => {
                        this.permits.foundPermits = response.data;
                        this.permits.pattern = new RegExp(this.typedByUser, 'gi');
                        this.statusMessage = this.displayStatusMessage('selectPermit');

                        if (!response.data.length) {
                            this.statusMessage = this.displayStatusMessage('carNotRegistered');
                        }

                    }).catch(function (error) {
                        console.log(error);
                    });
                } else {
                    this.clearPlateInput();
                }

            } else {
                this.clearPlateInput();
            }
        },

        selectPermitByPlate: function (selectedPermit) {
            this.permits.searchPhrase = selectedPermit.plate;
            this.permits.pattern = new RegExp(selectedPermit.plate, 'gi');
            this.display = 'none';

            this.$store.state.registration.permitIsSelected = true;
            this.selectedEmitter = selectedPermit.emitter;

            this.currentPermit = { id: selectedPermit.id, emitter: selectedPermit.emitter, number: selectedPermit.number, owner: selectedPermit.owner, model: selectedPermit.model, plate: selectedPermit.plate, start: moment(new Date(selectedPermit.start)).format('DD.MM.YYYY'), end: moment(new Date(selectedPermit.end)).format('DD.MM.YYYY') }

            if (this.permits.dateNow >= moment(new Date(selectedPermit.end))) {
                this.$store.state.registration.permitIsValid = false;
                this.disableEditButton = true;
                this.validityPeriodColor = 'text-danger';
                this.statusMessage = this.displayStatusMessage('permitExpired');
            } else if (moment(new Date(selectedPermit.start)) > this.permits.dateNow) {
                this.$store.state.registration.permitIsValid = false;
                this.disableEditButton = false;
                this.validityPeriodColor = 'text-warning';
                this.statusMessage = this.displayStatusMessage('validFrom') + moment(new Date(selectedPermit.start)).format('DD.MM.YYYY');
            } else {
                this.$store.state.registration.permitIsValid = true;
                this.disableEditButton = false;
                this.validityPeriodColor = 'text-success';
                this.statusMessage = this.displayStatusMessage('completeOtherFields');
            }


            this.$store.state.registration.logActionPath = '/logs/plate';
            this.$store.commit('setPlate', selectedPermit.plate);
            this.$store.commit('setPage', { page: 1 });
            this.$store.commit('populateLastLogs');
        },

        highlightEmitter: function (currentEmitter, selectedEmitter) {
            if (currentEmitter == selectedEmitter) {
                return true;
            }

            return false;
        },

        editPermit: function (id) {
            this.$store.commit('editPermit', id);
        },

        clearPermitData: function () {
            this.$store.commit('clearPermitData');
            this.$store.commit('clearPermitSuggestions');
        },

        updateRelevantPermits: function (id) {
            this.permits.searchPhrase = this.typedByUser;
            this.getPermits();
            this.focused();
        },

        clearPlateInput: function () {
            this.currentPermit = { id: '', emitter: '', number: '', owner: '', model: '', plate: '', start: '', end: '' };
            this.validityPeriodColor = 'text-danger';
            this.statusMessage = this.displayStatusMessage('selectPermit');
            this.permitMessage = '';

            this.$store.state.registration.permitIsSelected = false;
            this.$store.state.registration.permitIsValid = false;

            this.disableEditButton = true;
            this.typedByUser = '';
            this.permits = { foundPermits: [], searchPhrase: '', pattern: '', dateNow: moment(new Date()) };

            this.$store.state.registration.logActionPath = '/logs/last';
            this.$store.commit('setPlate', '');
            this.$store.commit('setPage', { page: 1 });
            this.$store.commit('populateLastLogs'); // 1 - first page for pagination
        },

        clearAllLogData: function () {
            this.$store.commit('clearAllLogData');
            this.clearPlateInput();
        },

        focused: function () {
            this.validityPeriodColor = 'text-danger';
            this.statusMessage = this.displayStatusMessage('selectPermit');
            this.permitMessage = '';

            this.display = 'block';
            this.currentPermit = { id: '', emitter: '', number: '', owner: '', model: '', plate: '', start: '', end: '' };

            this.$store.state.registration.permitIsSelected = false;
            this.$store.state.registration.permitIsValid = false;

            this.disableEditButton = true;
            this.permits.searchPhrase = this.typedByUser;
            this.permits.pattern = new RegExp(this.typedByUser, 'gi');
        },

        setFocus: function() {
            this.$refs.search.focus();
        },

        registerMove: function (direction) {
            if (this.checkIfRequiredFieldsAreFilledOut) {
                axios.post('/log/register/' + direction, {
                    'permitId': this.currentPermit.id,
                    'driver': this.getLogDataValue('driver'),
                    'cargo': this.getLogDataValue('cargo'),
                    'customer': this.getLogDataValue('customer'),
                    'destination': this.getLogDataValue('destination'),
                    'comment': this.getLogDataValue('comment')
                }).then(response => {
                    this.clearAllLogData();
                    this.focused();
                    this.setFocus();
                }).catch(function (error) {
                    console.log(error);
                });

            } else {
                console.log(this.$store.state.registration.logData);
                alert('Упссс... Что-то пошло не так. Регистрация события въезда-выезда не произведена. Обратиттесь к разработчику приложения.');
            }
        },

        reverseDirection: function (id) {
            this.$store.commit('reverseDirection', id);
        },

        getLogDataValue: function (key) {
            return this.$store.getters.getLogData[key];
        },

        displayStatusMessage: function (key) {
            return this.$store.getters.getStatusMessages[key];
        }
    },

    computed: {
        lastLogs: function () {
            if (this.$store.getters.lastLogs.length) {
                return true;
            } else {
                return false;
            }
        },

        lastLogsCount: function () {
            // В России в качестве разделителя целой и дробной части используется запятая, а в качестве разделителя разрядов - пробел
            return new Intl.NumberFormat('ru-RU').format(this.$store.getters.totalRows);
        },

        // enable submit buttons if permit is not expired and all required inputs are filled out
        checkIfRequiredFieldsAreFilledOut: function () {
            if (this.$store.getters.requiredFieldsAreCompleted & this.$store.state.registration.permitIsSelected & this.$store.state.registration.permitIsValid) {
                return true;
            } else {
                return false;
            }
        },

        currentStatus: function () {
            if (this.$store.state.registration.permitIsSelected & this.$store.state.registration.permitIsValid) {
                if (this.$store.getters.requiredFieldsAreCompleted) {
                    this.statusMessage = this.displayStatusMessage('registerEvent');
                    return 'text-success';
                } else {
                    this.statusMessage = this.displayStatusMessage('completeOtherFields');
                    return 'text-warning';
                }
            } else {
                return 'text-danger';
            }
        }
    },

    created: function () {
        setInterval(() => { this.curTime = moment().format('DD.MM.YYYY HH:mm:ss'); }, 1000);
        this.$store.commit('clearAllLogData');
        this.$store.commit('setPage', { page: 1 });
        this.$store.commit('setLogActionPath', '/logs/last');
        this.$store.commit('populateLastLogs'); // 1 - first page for pagination
        this.focused();
    }
}
</script>
